@tailwind base;
@tailwind components;

* {
  font-family: var(--font-ibm-sans);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto !important;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

html {
  scrollbar-gutter: stable;
  color-scheme: dark;
}

html {
  color-scheme: dark;
}


@supports (scrollbar-width: thin) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(158, 158, 158);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(98, 98, 98);
  }
}

@tailwind utilities;